@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
  font-family: 'owners-xwide';
  src: url('./font/owners-xwide.ttf');
}

:root {
  --color-raspberry: #db1368;
  --color-dark-raspberry: #ad2960;
  --color-dark-rasp: #d72b59;
  --color-lemonade: linear-gradient(90deg, #d72b59, #fbe851);
  --color-pink-bone: linear-gradient(90deg, #ece9d4, #db1368);
  --color-burnt-sienna: #e86f4d;
  --color-eggplant: #191024;
  --color-ivory: #ece9d4;
  --color-error: #e84f4f;
  --color-success: #5adb6b;
  --font-header: 'owners-xwide';
  --font-body: 'Space Grotesk', sans-serif;
  --font-size-h1-xs: 1.5rem;
  --font-size-h1-sm: 2rem;
  --font-size-h1-lg: 3.5rem;
  --font-size-h2-sm: 1.1rem;
  --font-size-h2-lg: 1.5rem;
  --font-size-p-sm: 1.1rem;
  --font-size-p-lg: 1.5rem;
  --screen-sm: 426px;
  --screen-md: 769px;
  --spacing-xs: 1rem;
  --spacing-sm: 2.5rem;
  --spacing-md: 5rem;
  --spacing-lg: 7.5rem;
  --spacing-xl: 10rem;
  --box-shadow-name-tag: 0px 3px 17px rgba(0, 0, 0, 0.45);
  --padding: 43.367px;
  --padding-top-first: 24px;
  --padding-top-second: 20.6px;
  --vh: 9.15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--color-eggplant);
  color: var(--color-ivory);
  overflow-x: hidden;
  font-family: var(--font-body);
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

@mixin flexProperty {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btnStyle($fontSize: .5625rem, $padding: 9.5px 9px 7.5px) {
  font-family: 'owners-xwide';
  font-size: $fontSize;
  letter-spacing: 0.1em;
  padding: $padding;
  text-transform: uppercase;
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 2px solid var(--color-dark-rasp);
  border-radius: 43px;
}

// Header
header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  padding: var(--padding-top-first) var(--padding-top-second) 0;
  @include flexProperty();

  aside {
    a {
      button {
        background: transparent;
        backdrop-filter: none;
        border: none;
        outline: none;

        span {
          @include btnStyle($fontSize: 0.5625rem);
        }
      }
    }
  }

  aside {
    a {
      img {
        opacity: 0;
      }
    }
  }

  aside {
    button {
      background: none;
      outline: none;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      .btn-icon {
        position: relative;

        .icon-to-open {
          svg {
            width: 25px;
            height: 25px;
          }
        }

        .icon-to-close {
          position: absolute;
          top: 0;

          svg {
            width: 25px;
            height: 25px;
          }
        }
      }

      .btn-label {
        span {
          display: none;
        }
      }
    }
  }
}

.home-section {
  display: block;
  position: relative;
  text-align: center;

  .hero_canvas {
    @include flexProperty();
    justify-content: center;
    flex-direction: column;
    height: calc((var(--vh, 1vh) * 100) - 80px);
    max-height: 620px;
    min-height: 568px;
    overflow: visible;
    padding: 120px 0 180px;
    position: relative;
    z-index: 0;

    .canvas_content {
      padding: 30px 5vw;
      position: relative;
      width: 100%;
      z-index: 3;

      .gripnr-details {
        .content_heading {
          margin: 30px auto 0;
          filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
          text-transform: uppercase;
          font-family: var(--font-header);
          background: var(--color-lemonade);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          display: inline-flex;
          user-select: none;
          line-height: 1em;
          font-size: 1.125rem;
          text-align: center;
          letter-spacing: 0.1em;
        }

        .content_sub_heading {
          display: inline-flex;
          margin: 14px 18.542px 0;
          text-transform: uppercase;
          text-align: center;
          color: #eae5d0;
          letter-spacing: 0.15em;
          font-size: 1rem;
          line-height: 1em;
          font-weight: 200;
        }

        .content_btn {
          margin-top: 30px;
          text-align: center;

          .btn_link {
            span {
              @include btnStyle();
            }
          }
        }
      }
    }

    .canvas_media {
      video {
        width: calc(100% + 10px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center top;
        z-index: 1;
      }
    }

    .canvas_media::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 100%;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0.7) 100%
      );

      z-index: 2;
      pointer-events: none;
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  // Header
  header {
    padding: 24px 31.297px 0;

    aside {
      a {
        button {
          span {
            @include btnStyle($fontSize: 0.7375rem);
          }
        }
      }
    }

    aside {
      button {
        .btn-label {
          span {
            display: block;
            color: #fafafa;
            text-transform: uppercase;
            letter-spacing: 0.125em;
            font-size: 0.9375rem;
          }
        }
      }
    }
  }

  // Home
  .home-section {
    .hero_canvas {
      max-height: none;
      min-height: 780px;

      .canvas_content {
        .gripnr-details {
          .content_heading {
            font-size: 2rem;
          }

          .content_sub_heading {
            font-size: 1.336rem;
          }

          .content_btn {
            .btn_link {
              span {
                @include btnStyle($fontSize: 0.7375rem);
              }
            }
          }
        }
      }
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  :root {
    --vh: 12.6px;
  }
  // Header
  header {
    padding: 44px 40px 0;

    aside {
      a {
        button {
          span {
            @include btnStyle($fontSize: 0.813rem, $padding: 9.5px 18px 7.5px);
          }
        }
      }
    }

    aside {
      button {
        .btn-label {
          span {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  // Home
  .home-section {
    .hero_canvas {
      padding-bottom: 80px;
      height: calc(var(--vh, 1vh) * 100 - 80px);
      min-height: 680px;

      .canvas_content {
        .gripnr-details {
          .content_heading {
            font-size: 2.141rem;
          }

          .content_sub_heading {
            margin: 25.994px 99px 0;
            font-size: 1.5rem;
          }

          .content_btn {
            .btn_link {
              span {
                @include btnStyle($fontSize: 0.813rem, $padding: 9.5px 18px 7.5px);
              }
            }
          }
        }
      }
    }
  }
}
