@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
  font-family: 'owners-xwide';
  src: url('./font/owners-xwide.ttf');
}

@font-face {
  font-family: 'owners-xwide-bold';
  src: url('./font/owners-xwide-bold.ttf');
}

@font-face {
  font-family: 'owners-xwide-extrabold';
  src: url('./font/owners-xwide-xblack.ttf');
}

:root {
  --color-raspberry: #db1368;
  --color-dark-raspberry: #ad2960;
  --color-dark-rasp: #d72b59;
  --color-lemonade: linear-gradient(90deg, #d72b59, #fbe851);
  --color-pink-bone: linear-gradient(90deg, #ece9d4, #db1368);
  --color-burnt-sienna: #e86f4d;
  --color-eggplant: #191024;
  --color-ivory: #ece9d4;
  --color-error: #e84f4f;
  --color-success: #5adb6b;
  --font-header: 'owners-xwide';
  --font-header-bold: 'owners-xwide-bold';
  --font-header-extrabold: 'owners-xwide-extrabold';
  --font-body: 'Space Grotesk', sans-serif;
  --font-size-h1-xs: 1.5rem;
  --font-size-h1-sm: 2rem;
  --font-size-h1-lg: 3.5rem;
  --font-size-h2-sm: 1.1rem;
  --font-size-h2-lg: 1.5rem;
  --font-size-p-sm: 1.1rem;
  --font-size-p-lg: 1.5rem;
  --screen-sm: 426px;
  --screen-md: 769px;
  --spacing-xs: 1rem;
  --spacing-sm: 2.5rem;
  --spacing-md: 5rem;
  --spacing-lg: 7.5rem;
  --spacing-xl: 10rem;
  --box-shadow-name-tag: 0px 3px 17px rgba(0, 0, 0, 0.45);
  --padding: 43.367px;
  --padding-top-first: 24px;
  --padding-top-second: 20.6px;
  --vh: 9.15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100%;
  width: 100%;
  background: var(--color-eggplant);
  color: var(--color-ivory);
  overflow-x: hidden;
  font-family: var(--font-body);
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

@mixin flexProperty {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btnStyle($fontSize: 0.5625rem, $padding: 9.5px 9px 7.5px) {
  font-family: 'owners-xwide';
  font-size: $fontSize;
  letter-spacing: 0.1em;
  padding: $padding;
  text-transform: uppercase;
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 2px solid var(--color-dark-rasp);
  border-radius: 43px;
  white-space: nowrap;
}

// Header
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  padding: var(--padding-top-first) var(--padding-top-second) 0;
  @include flexProperty();
  height: 5rem;

  transition: 
    backdrop-filter 0.4s ease,
    background 0.4s ease,
    padding 0.4s ease,
    height 0.4s ease;

  aside {
    a {
      button {
        background: transparent;
        backdrop-filter: none;
        border: none;
        outline: none;

        span {
          @include btnStyle($fontSize: 0.5625rem);
        }
      }
    }
  }

  aside {
    a {
      img {
        opacity: 0;
        max-width: 150px;
        width: 100%;
      }
    }
  }

  aside {
    button {
      background: none;
      outline: none;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .btn-icon {
        position: relative;
        width: 24px;
        height: 24px;

        .icon-to-open {
          opacity: 1;
          pointer-events: auto;
          position: absolute;
          z-index: 10;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .icon-to-close {
          position: absolute;
          z-index: 10;
          top: 0;
          opacity: 0;
          pointer-events: none;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }

      .btn-label {
        position: relative;
        z-index: 10;

        span {
          display: none;
        }

        .menuName {
          opacity: 1;
        }

        .closeName {
          opacity: 0;
          position: absolute;
          top: 0;
          right: -5px;
          color: #1a1a1a;
        }
      }
    }

    .menu-infos {
      width: 100%;
      height: 100vh;
      text-align: center;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      background: var(--color-burnt-sienna);
      transform: translateY(100%);
      opacity: 0;

      .menu {
        display: grid;
        position: relative;
        grid-template-rows: 3fr 2fr;
        grid-template-columns: none;
        text-align: left;
        width: 100%;
        height: 100%;
        justify-content: center;

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 3.75rem;
          // padding-top: 2.5rem;

          li {
            display: flex;
            align-items: baseline;
            gap: 0.75rem;
            font-size: 2.375rem;

            span {
              font-size: 0.625rem;
            }
          }
        }

        .header_extraContainer {
          border-top: 1px solid #ffffff8a;
          padding: 20px 30px 0;

          .header_navSocials {
            display: flex;
            justify-content: center;
            gap: 0.625rem;

            a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 100%;
              pointer-events: none;
              text-decoration: none;
              background: hsla(48, 38%, 87%, 0.1);
            }
          }
        }
      }
    }
  }
}

.header-blur {
  padding: 1rem;
  height: 4rem;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.3);
}

.home-section {
  display: block;
  position: relative;
  text-align: center;

  .hero_canvas {
    @include flexProperty();
    justify-content: center;
    flex-direction: column;
    height: calc((var(--vh, 1vh) * 100) - 80px);
    max-height: 620px;
    min-height: 568px;
    overflow: visible;
    padding: 120px 0 180px;
    position: relative;
    z-index: 0;

    .canvas_content {
      padding: 30px 5vw;
      position: relative;
      width: 100%;
      z-index: 3;

      .gripnr-img {
        img {
          max-width: 828px;
        }
      }

      .gripnr-details {
        .content_heading {
          margin: 30px auto 0;
          filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.5));
          text-transform: uppercase;
          font-family: var(--font-header-extrabold);
          background: var(--color-lemonade);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          display: inline-flex;
          user-select: none;
          line-height: 1em;
          font-size: 1.125rem;
          text-align: center;
          letter-spacing: -.035em;
        }

        .content_sub_heading {
          display: inline-flex;
          margin: 14px 18.542px 0;
          text-transform: uppercase;
          text-align: center;
          color: #eae5d0;
          letter-spacing: 0.15em;
          font-size: 0.9rem;
          line-height: 1em;
          font-weight: 200;
        }

        .content_btn {
          margin-top: 30px;
          text-align: center;

          .btn_link {
            span {
              @include btnStyle();
            }
          }
        }
      }
    }

    .canvas_media {
      video {
        width: calc(100% + 10px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center top;
        z-index: 1;
      }
    }

    .canvas_media::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 14%;
      background: linear-gradient(
        to top,
        rgba(13, 0, 30, 0.95) 0%,
        rgba(20, 0, 40, 0.6) 40%,
        var(--color-eggplant) 100%
      );
      z-index: 5;
      pointer-events: none;
    }

    .canvas_media::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 100%;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0.7) 100%
      );

      z-index: 2;
      pointer-events: none;
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fafafa;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
}

// Intro
.intro {
  margin-bottom: 3.125rem;

  .c_section {
    position: relative;
    text-align: center;

    .section_media {
      position: relative;
      z-index: 10;

      .media_image {
        margin: 0 20.604px;
        max-height: 1200px;
        max-width: 750px;
      }
    }

    .section_head {
      text-align: center;
      font-family: var(--font-header-bold);
      margin-bottom: 2.5rem;
      display: flex;
      justify-content: center;
      // opacity: 0;

      .head-title {
        text-transform: uppercase;
        font-size: calc(20px + 60 * ((100vw - 420px) / 1480));
        padding-top: 1.875rem;
        display: flex;
        flex-direction: column;
        font-family: var(--font-header-bold);
        line-height: .875em;
        letter-spacing: -.035em;

        span:nth-child(2) {
          background: var(--color-lemonade);
          color: transparent;
          -webkit-background-clip: text;
        }
      }

      .head_backdrop {
        font-family: var(--font-header-bold);
        color: #ffffff0d;
        letter-spacing: -0.025em;
        margin: 0;
        position: absolute;
        top: 0;
        left: calc(50% - 820px);
        text-align: center;
        user-select: none;
        z-index: 0;
        font-size: calc(100px + 135 * ((100vw - 420px) / 860));
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 92%;
      }
    }

    .section_content {
      padding: 0 1.03rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .content-inner {
        .content-text {
          max-width: 680px;
          width: 100%;
          margin: 0 auto;

          p {
            margin-bottom: 1em;
            font-size: calc(1.25rem + 4 * ((100vw - 26.25rem) / 860));
            text-align: center;
          }
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  // Header
  header {
    padding: 24px 31.297px 0;

    aside {
      a {
        button {
          span {
            @include btnStyle($fontSize: 0.7375rem);
          }
        }
      }
    }

    aside {
      button {
        .btn-label {
          span {
            display: block;
            color: #fafafa;
            text-transform: uppercase;
            letter-spacing: 0.125em;
            font-size: 0.9375rem;
          }
        }
      }
    }
  }

  .header-blur {
    height: 5rem;
  }

  // Home
  .home-section {
    .hero_canvas {
      max-height: none;
      min-height: 780px;

      .canvas_content {
        .gripnr-details {
          .content_heading {
            font-size: 2rem;
          }

          .content_sub_heading {
            font-size: 1.336rem;
          }

          .content_btn {
            .btn_link {
              span {
                @include btnStyle($fontSize: 0.7375rem);
              }
            }
          }
        }
      }
    }
  }

  // Intro
  .intro {
    .c_section {
      .section_content {
        padding: 0 4vw;
        align-items: flex-end;
      }
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  // Header
  header {
    padding: 44px 40px 0;
    height: 7rem;

    aside {
      a {
        button {
          span {
            @include btnStyle($fontSize: 0.813rem, $padding: 9.5px 18px 7.5px);
          }
        }
      }
    }

    aside {
      a {
        img {
          max-width: 260px;
        }
      }
    }

    aside {
      button {
        .btn-label {
          span {
            font-size: 1.25rem;
          }
        }
      }

      .menu-infos {
        .menu {
          grid-template-columns: 3fr 2fr;
          grid-template-rows: none;
          padding: 0 120px;
          max-width: 1800px;
          margin-left: auto;
          margin-right: auto;
          justify-content: inherit;
          align-items: center;

          ul {
            height: 100%;

            li {
              font-size: 3.446rem;

              span {
                font-size: 1rem;
              }
            }
          }
        }

        .header_extraContainer {
          border-top: 0px !important;
          border-left: 1px solid;
          padding: 0px !important;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .header-blur {
    height: 6rem;
  }

  // Home
  .home-section {
    .hero_canvas {
      padding-bottom: 80px;
      height: calc(var(--vh, 1vh) * 100 - 80px);
      min-height: 836px;

      .canvas_content {
        .gripnr-img {
          margin: 0 81px;
        }

        .gripnr-details {
          .content_heading {
            font-size: calc(0.46875rem + 2.5vw);
          }

          .content_sub_heading {
            margin: 25.994px 99px 0;
            font-size: calc(0.390625rem + 1.84524vw);
            letter-spacing: 0.12em;
          }

          .content_btn {
            .btn_link {
              span {
                @include btnStyle(
                  $fontSize: 0.813rem,
                  $padding: 9.5px 18px 7.5px
                );
              }
            }
          }
        }
      }
    }
  }

  // Intro
  .intro {
    padding-top: 6.875rem;

    .c_section {
      display: flex;
      align-items: stretch;
      padding-top: 15rem;

      .section_media {
        align-items: flex-end;
        display: inline-flex;
        flex: 0 0 50%;
        width: 50%;
      }

      .section_head {
        position: absolute;
        top: 0;
        left: calc(50% - 615px);
        margin-bottom: 0;
        right: auto;
        text-align: left;

        .head-title {
          align-items: flex-start;
          justify-content: flex-start;
          text-align: left;

          .tabletop {
            padding-left: 2.5rem;
          }
        }
      }

      .section_content {
        flex: 0 0 50%;
        padding: 0;
        width: 45%;
        align-items: center;
        justify-content: flex-start;

        .content-inner {
          .content-text {
            padding-left: 1.563rem;
            border-left: 1px solid #e57655;

            p {
              text-align: start;
            }
          }
        }
      }
    }
  }
}
